*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Tiny5", sans-serif;
    font-size: clamp(12px, calc(1.2vw + 1.2vh), 280px);
    text-transform: uppercase;
    color: aliceblue;
    max-width: 100%;
    text-shadow: 0.1rem 0.1rem #000000;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("images/background-astarion.jpg");
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0rem 3rem;
    align-content: center;
    justify-content: center;
}

.col1, .col3 {
    display: flex;
    flex-direction: column; /* => empile les éléments verticalement */
    gap: 0.25rem;
}

.uibox{
    display: flex;
    padding: 1.2rem;
    background-color: #302b2bf0;
    border-color: bisque;
    border: 0.17rem solid black;
    outline: 0.17rem solid #db9532;
    outline-offset: -0.3rem;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 3px 3px 0 #0000004e;
}

.uibox2{
    display: flex;
    padding: 1rem;
    background-color: #302b2bf0;
    border-color: bisque;
    border: 0.17rem solid black;
    outline: 0.17rem solid #db9532;
    outline-offset: -0.3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    box-shadow: 3px 3px 0 #0000004e;
}

.uibox3{
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0.2rem 0.2rem 0.2rem;
    padding: 0.2rem 0.5rem;
    outline: 0.17rem solid #ffffff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #302b2bf0;
}

.uibox3 img, .arrow {
    display: block;
    image-rendering: pixelated;
    width: 0.5rem; 
    height: auto; 
}

.uibox4{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    background-color: #302b2bf0;
    border-color: bisque;
    border: 0.17rem solid black;
    outline: 0.17rem solid #db9532;
    outline-offset: -0.3rem;
    text-align: left;
    gap: 0.2rem;
    box-shadow: 3px 3px 0 #0000004e;
}

.stats {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.stats-nom{
color: #f8d2b5;
}
.stat-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.intro:hover .arrowfull{
    content: url("images/nav/arrow-left-full-hover.png");
}

.intro {
    color: aliceblue;
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.intro:hover{
    color: #ffdd64;
}

.arrowfull {
    display: block;
    image-rendering: pixelated;
    width: 0.5rem;
    height: 0.8rem;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 0,5rem;

}

a:hover  {
    color: #fcc846 !important;
}

a.active {
  color: #ffdd64;
}

.choixpersonnages {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    justify-content: center;
    gap: 0.3rem;
}

.picto,
.picto-hover{
    image-rendering: pixelated;
   vertical-align: top;
    width: 2.8rem;
}

.picto-hover{
    display: none;
}
.picto-personnages:hover .picto{
    display: none;
} 
.picto-personnages:hover .picto-hover{
   display: block;
} 

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    align-items: center;
}

.skills img{
    display: block;
    image-rendering: pixelated;
    width: 2rem; 
    height: auto; 
}

/* infobulles */
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: max-content;
    max-width: 16.4rem;
    padding: 1.2rem;
    background-color: #302b2bdd;
    border-color: bisque;
    border: 0.17rem solid black;
    outline: 0.17rem solid #db9532;
    outline-offset: -0.3rem;
    text-align: justify left;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 3px 3px 0 #0000004e;
    z-index: 10;
    left: -19.7rem;
    top: -2.2rem;
    transition: all 0.3s ease-in-out;
}

/* La flèche */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 1.15rem; /* pointe vers l'élément */
  left: 100%;
  rotate: -90deg;
  border-width: 0.5rem;
  margin-top: 1rem;
  border-style: solid;
  border-color: #db9532 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* format tablette et smartphone */

@media screen and (max-width: 900px) {
    *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Tiny5", sans-serif;
    font-size: clamp(24px, calc(1vw + 1vh), 280px);
    text-transform: uppercase;
    color: aliceblue;
    max-width: 100%;
    text-shadow: 0.1rem 0.1rem #000000;
    }
   .picto-personnages {
    display: none;
   }
   .choixpersonnages {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
   }
   .uibox3{
    display: flex;
    padding: 0rem;
    outline: 0rem solid #ffffff;
    outline-offset: -0.3rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    }  
    .uibox2{
        display: flex;
        padding: 0.5rem 1,5rem;
        background-color: #302b2bdd;
        border-color: bisque;
        border: 0.17rem solid black;
        outline: 0.17rem solid #db9532;
        outline-offset: -0.3rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        box-shadow: 3px 3px 0 #0000004e;
    }
    .container{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .col1 {
        display: flex;
        flex-direction: row; /* => empile les éléments horizontalement */
        gap: 0.25rem;
        justify-content: center;
    }              
}