*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Tiny5", sans-serif;
    font-size: clamp(12px, calc(1.4vw + 1.4vh), 280px);
    text-transform: uppercase;
    color: aliceblue;
    max-width: 100%;
    text-shadow: 0.1rem 0.1rem #000000;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("images/background-astarion.jpg");
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}

.container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.2fr;
    margin: 0rem 3rem;
    align-content: center;
    justify-content: center;
}

.col1, .col3 {
    display: flex;
    flex-direction: column; /* => empile les éléments verticalement */
    gap: 0.25rem;
}

.uibox{
    display: flex;
    padding: 0.8rem;
    background-color: #302b2bdd;
    border-color: bisque;
    border: 0.17rem solid black;
    outline: 0.17rem solid #db9532;
    outline-offset: -0.3rem;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 3px 3px 0 #0000004e;
}

.uibox2{
    display: flex;
    padding: 0.7rem;
    background-color: #302b2bdd;
    border-color: bisque;
    border: 0.17rem solid black;
    outline: 0.17rem solid #db9532;
    outline-offset: -0.3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 3px 3px 0 #0000004e;
}

.uibox3{
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0.2rem 0.2rem 0.2rem;
    padding: 0.2rem 0.5rem;
    outline: 0.17rem solid #ffffff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #534d4a;
}

.uibox3 img, .arrow {
    display: block;
    image-rendering: pixelated;
    width: 0.5rem; 
    height: auto; 
}

.intro:hover .arrowfull{
    content: url("images/nav/arrow-left-full-hover.png");
}

.intro{
    color: aliceblue;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.intro:hover{
    color: #ffdd64;
}

.arrowfull {
    display: block;
    image-rendering: pixelated;
    width: 0.5rem;
    height: 0.8rem;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: clamp (10px, auto, 20px);

}

a:hover  {
    color: #fcc846 !important;
}

a.active {
  color: #ffdd64;
}

.choixpersonnages {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    justify-content: center;
    gap: 0.3rem;
}

.picto,
.picto-hover{
    image-rendering: pixelated;
   vertical-align: top;
    width: 2.5rem;
}

.picto-hover{
    display: none;
}
.picto-personnages:hover .picto{
    display: none;
} 
.picto-personnages:hover .picto-hover{
   display: block;
} 

@media screen and (max-width: 900px) {
    *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Tiny5", sans-serif;
    font-size: clamp(24px, calc(1vw + 1vh), 280px);
    text-transform: uppercase;
    color: aliceblue;
    max-width: 100%;
    text-shadow: 0.1rem 0.1rem #000000;
    }
   .picto-personnages {
    display: none;
   }
   .choixpersonnages {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
   }
   .uibox3{
    display: flex;
    padding: 0rem;
    outline: 0rem solid #ffffff;
    outline-offset: -0.3rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    }  
    .uibox2{
        display: flex;
        padding: 0.5rem 1,5rem;
        background-color: #302b2bdd;
        border-color: bisque;
        border: 0.17rem solid black;
        outline: 0.17rem solid #db9532;
        outline-offset: -0.3rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        box-shadow: 3px 3px 0 #0000004e;
    }
    .container{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .col1 {
        display: flex;
        flex-direction: row; /* => empile les éléments horizontalement */
        gap: 0.25rem;
        justify-content: center;
    }              
}